<web-app>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>food</servlet-name>
<servlet-class>foodcontroller</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>food</servlet-name>
<url-pattern>/foodlist</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>item</servlet-name>
<servlet-class>itemcontroller</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>item</servlet-name>
<url-pattern>/getItemDetails</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>cookie</servlet-name>
<servlet-class>newCookie</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>cookie</servlet-name>
<url-pattern>/genCookie</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addtocookie</servlet-name>
<servlet-class>cart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addtocookie</servlet-name>
<url-pattern>/addToCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>viewcart</servlet-name>
<servlet-class>viewCart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewcart</servlet-name>
<url-pattern>/getCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>edittablecart</servlet-name>
<servlet-class>viewShoppingCart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>edittablecart</servlet-name>
<url-pattern>/getShoppingCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>update</servlet-name>
<servlet-class>updateCart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>update</servlet-name>
<url-pattern>/changeCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>delete</servlet-name>
<servlet-class>removeFromCart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delete</servlet-name>
<url-pattern>/deleteFromCart</url-pattern>
</servlet-mapping>

</web-app>